@page "/Ofertas/CrearOferta"

@using AppForSEII2526.Web.Components.Shared
@using AppForSEII2526.Web.API
@inject AppForHerramientasAPIClient apiclient
@inject ILogger<CrearOferta> logger
@inject OfertasStateContainer ofertasState

<h3>Crear Oferta</h3>

<EditForm Model="oferta" OnValidSubmit="OpenDialog">
    <div class="row">

        <div class="col-md">
            <div class="form-floating">
                @*Este boton se usa para preguntar al usuario si quiere proceder con la creación de ofertas*@
                <button class="btn btn-primary" type="submit" id="Submit">
                    Crea la oferta de tus herramientas
                </button>
            </div>
        </div>
    </div>
    
    <div class="mh-100 table-responsive">
        <table class="table table-condensed table-hover" id="TablaDeOfertaItems">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Material</th>
                    <th>Precio</th>
                    <th>Descripcion</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Metodo de Pago</th>
                    <th>Dirigida Oferta</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in oferta.OfertaItem)
                {
                    <tr id="MovieData_@item.Nombre">
                        <td>@item.Material</td>
                        <td>@item.Precio</td>
                        <td>@item.Porcentaje</td>
                        <td>@oferta.FechaInicio</td>
                        <td>@oferta.FechaFin</td>
                        <td>@oferta.TiposMetodoPago</td>
                        <td>
                            <InputSelect @bind-Value="oferta.TiposDirigidaOferta" class="form-control" id="@($"OfertaDirigida_{item.Nombre}")">
                                @foreach (var value in Enum.GetValues(typeof(TiposDirigidaOferta)))
                                {
                                    <option value="@value">@value</option>
                                }
                            </InputSelect>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
</EditForm>

@* modal popup para comprobar si el usuario quiere proceder a crear la oferta *@
@if (DialogIsOpen)
{
    <Dialog Caption="Crear ofertas"
    Message="¿Quieres proceder a crear la oferta?"
    OnClose="@OnDialogClose"
    Type=Dialog.Category.SaveNot>
    </Dialog>
}

@code {
    private bool DialogIsOpen;

    private CrearOfertaDTO oferta => ofertasState.Oferta;

    private void OpenDialog()
    {
        DialogIsOpen = true;
    }

    private async Task OnDialogClose(bool isOk)
    {
        DialogIsOpen = false;
        if (isOk)
        {
            //Procesar la información introducida por el usuario si es válida
        }
    }
}
