@page "/Ofertas/CrearOferta"

@using AppForSEII2526.Web.Components.Shared
@using AppForSEII2526.Web.API
@inject AppForHerramientasAPIClient apiclient
@inject ILogger<CrearOferta> logger
@inject OfertasStateContainer ofertasState

<h3>Crear Oferta</h3>

<EditForm Model="oferta" OnValidSubmit="OpenDialog">
    <div class="row">
        <DataAnnotationsValidator />
        <ValidationSummary />
    </div>
    <div class="row g-3">
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputNumber @bind-Value="oferta.Porcentaje" class="form-control" id="Porcentaje" />
                <label for="Porcentaje">Porcentaje </label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputDate @bind-Value="oferta.FechaInicio" class="form-control" id="FechaInicio" />
                <label for="FechaInicio">Fecha Inicio </label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputDate @bind-Value="oferta.FechaFin" class="form-control" id="FechaFin" />
                <label for="FechaFin">Fecha Fin</label>
            </div>
        </div>
    </div>
    <div class="row g-2">
        <div class="col-md">
            <div class="form-floating">
                @*Un drop menú para seleccionar el metodo de pago*@
                <InputSelect class="form-select" @bind-Value="@oferta.TiposMetodoPago" id="MetodoPago">
                    <option value="@MetodoPago.TarjetaCredito" default> TarjetaCredito</option>
                    <option value="@MetodoPago.PayPal"> PayPal</option>
                    <option value="@MetodoPago.Efectivo"> Efectivo</option>
                </InputSelect>
                <label for="MetodoPago">Metodo de Pago</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                @*Este boton se usa para preguntar al usuario si quiere proceder con la creación de ofertas*@
                <button class="btn btn-primary" type="submit" id="Submit">
                    Crea la oferta de tus herramientas
                </button>
            </div>
        </div>
    </div>
    
    <div class="mh-100 table-responsive">
        <table class="table table-condensed table-hover" id="TablaDeOfertaItems">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Material</th>
                    <th>Precio</th>
                    <th>Dirigida Oferta</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in oferta.OfertaItem)
                {
                    <tr id="MovieData_@item.Nombre">
                        <td>@item.Nombre</td>
                        <td>@item.Material</td>
                        <td>@item.Precio</td>
                        <td>
                            <InputSelect class="form-select" @bind-Value="@oferta.TiposDirigidaOferta" id="DirigidaOferta">
                                <option value="@TiposDirigidaOferta.Clientes" default> Clientes</option>
                                <option value="@TiposDirigidaOferta.Socios"> Socios</option>
                            </InputSelect>
                            <label for="DirigidaOferta">Dirigida Oferta</label>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
</EditForm>

@* modal popup para comprobar si el usuario quiere proceder a crear la oferta *@
@if (DialogIsOpen)
{
    <Dialog Caption="Crear ofertas"
    Message="¿Quieres proceder a crear la oferta?"
    OnClose="@OnDialogClose"
    Type=Dialog.Category.SaveNot>
    </Dialog>
}

@code {
    private bool DialogIsOpen;

    private CrearOfertaDTO oferta => ofertasState.Oferta;

    private void OpenDialog()
    {
        DialogIsOpen = true;
    }

    private async Task OnDialogClose(bool isOk)
    {
        DialogIsOpen = false;
        if (isOk)
        {
            //Procesar la información introducida por el usuario si es válida
        }
    }
}
