@page "/Ofertas/SelectHerramientasForOfertas"

@using AppForSEII2526.Web.API
@inject AppForHerramientasAPIClient apiclient
@inject ILogger<SelectHerramientasForOfertas> logger
@inject OfertasStateContainer ofertasState
@inject NavigationManager navigation

<h3>SelectHerramientasForOfertas</h3>

<div class="container-fluid">
    <div class="row alert alert-danger" role="alert" hidden="@hideErrors">
        <p id="ErrorsShown">Errors: @errors</p>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Precio</span>
                        <input type="text" id="inputTitle" @bind=filtroPrecio class="form-control" placeholder="Precio" aria-label="Precio" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Fabricante</span>
                        <input type="text" id="inputGenre" @bind=filtroFabricante class="form-control" placeholder="Fabricante" aria-label="Fabricante" aria-describedby="basic-addon1">
                    </div>
                </div>

                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary" @onclick=@SearchHerramientas id="searchHerramientas">Buscar herramientas</button>
                </div>

            </div>
            <div class="row">
                @if (herramientas == null)
                {
                    <p>Cargando herramientas....</p>
                }
                else
                {
                <div class="mh-100 table-responsive">
                    <table class="table table-condensed table-hover" id="TableOfHerramientas">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Material</th>
                                <th>Fabricante</th>
                                <th>Precio</th>
                                
                                <th>Añadir oferta</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var herramienta in herramientas)
                            {
                                <tr id="HerramientaData_@herramienta.Nombre">
                                    <td>@herramienta.Id</td>
                                    <td>@herramienta.Nombre</td>
                                    <td>@herramienta.Material</td>
                                    <td>@herramienta.Fabricante</td>
                                    <td>@herramienta.Precio</td>
                                    
                                    <td>
                                        <button class="btn btn-outline-secondary" id="herramientaToOfertar_@herramienta.Nombre" @onclick="@(() => AddHerramientas(herramienta))">Add</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                }
            </div>
        </div>
    <div class="col-2" hidden="@hideRentingCart">
        <div class="row">
            <h3>Carrito Ofertas</h3>
        </div>
        @foreach (OfertaItemDTO item in ofertas.OfertaItem)
        {
            <div class="row">
                <button type="button" class="btn btn-light" id="removeHerramienta_@item.Nombre" @onclick="@(() => EliminarItemOferta(item))">x @item.Nombre - @item.Precio€</button>
            </div>
        }
        <div class="row">
            <button type="button" class="btn btn-primary" id="ofertarHerramientaButton" @onclick=@OfertarHerramientas>Ofertar Herramientas</button>
        </div>
        </div>

    </div>


@code {
    private bool hideRentingCart { get { return ofertas.OfertaItem.Count == 0; } }
    private ICollection<HerramientasParaOfertasDTO> herramientas;
    private bool hideErrors { get { return errors.Length == 0; } }
    private string errors = "";
    private float? filtroPrecio { get; set; }
    private string filtroFabricante { get; set; }

    private CrearOfertaDTO ofertas => ofertasState.Oferta;

    private bool hiddenRentingCart = true;

    private void AddHerramientas(HerramientasParaOfertasDTO herramientas) {
        ofertasState.AddHerramientaToOferta(herramientas);
    }

    private void EliminarItemOferta(OfertaItemDTO item) {
        ofertasState.EliminarItemToOferta(item);
        if (ofertas.OfertaItem.Count == 0) hiddenRentingCart = true;
    }


    public async void SearchHerramientas()
    {
        if (filtroPrecio == 0)
        {
            filtroPrecio = null;
        }

        try
        {
            herramientas = await apiclient.GetHerramientasParaOfertaconTodosLosDatosDTOAsync(filtroPrecio, filtroFabricante);
            errors = "";
        }
        catch (ApiException ex)
        {
            logger.LogError($"{DateTime.Now} Error: {ex}");
            errors = "Error while connecting to the system";
        }
        StateHasChanged();
    }

    private void OfertarHerramientas()
    {
        navigation.NavigateTo("/Ofertas/CrearOferta");
    }
}
